<div class='movie-detail'>
    <div class='movie-detail-header'>
      {{pageTitle + ': ' + movie?.name}}
    </div>
  
    <div class='movie-detail-content'
         *ngIf='movie'>

      <div class="movie-detail-field-box">
        <div class="movie-detail-field">Name:</div>
        <div class="movie-detail-data">{{movie.name}}</div>
      </div>
      <div class="movie-detail-field-box">
        <div class="movie-detail-field">Watched:</div>
        <div class="date-watched-box">
          <div class="movie-detail-data" [ngClass]="{'hide': !movie.isWatched}">{{movie.dateWatched}}</div>
          <app-custom-button
            [label]="'Edit date watched'"
            [shouldHide]="!showEditButton"
            (onClick)="editDateWatched()">
          </app-custom-button>
          <div class="date-picker" [ngClass]="{'hide': showEditButton, 'remove-margin-left': movie.dateWatched}">
            <input type="date" value="2021-08-01" id="start" (change)="pickDate($event)"
            min="2020-01-01" max="2021-08-31">
          </div>

          <!-- <mat-form-field> -->
            <!-- <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker> -->
          <!-- </mat-form-field> -->

        </div>
      </div>
      <div class="date-added-to-watched-box" [ngClass]="{'hide': movie.hideDateWatchedValue}">
        <div class="movie-detail-field">Added to watched:</div>
        <div class="movie-detail-data">{{movie.dateAddedToWatched}}</div>
      </div>
      <div class="movie-detail-field-box">
        <div class="movie-detail-field">Original language:</div>
        <div class="movie-detail-data">{{movie.originalLanguage}}</div>
      </div>
      <div class="movie-detail-field-box">
        <div class="movie-detail-field">Popularity:</div>
        <div class="movie-detail-data">{{movie.popularity}}</div>
      </div>
      <div class="movie-detail-field-box">
        <div class="movie-detail-field">Release date:</div>
        <div class="movie-detail-data">{{movie.releaseDate}}</div>
      </div>
      <div class="movie-detail-field-box">
        <div class="movie-detail-field">Genres:</div>
        <div class="movie-detail-data">{{movie.genres}}</div>
      </div>
      <div class="movie-detail-overview-box">
        <div class="movie-detail-field">Overview:</div>
        <div class="movie-overview">{{movie.overview}}</div>
      </div>
    </div>
    <div class='movie-detail-footer'>
      <app-custom-button
        [label]="'Go back to search'"
        (onClick)="onBack()">
      </app-custom-button>
    </div>
  </div>