<div class='movie-detail'>
    <div class='movie-detail-header'>
      {{pageTitle + ': ' + movie?.name}}
    </div>
  
    <div class='movie-detail-content'
         *ngIf='movie'>
      <div class="movie-detail-content-box-1">
        <div class="movie-detail-field">Name:</div>
        <div class="movie-detail-field">Date watched:</div>
        <div class="movie-detail-field">Date added to watched:</div>
        <div class="movie-detail-field">Original language:</div>
        <div class="movie-detail-field">Popularity:</div>
        <div class="movie-detail-field">Release date:</div>
        <div class="movie-detail-field">Genres:</div>
        <div class="movie-detail-field">Overview:</div>
      </div>
      <div class="movie-detail-content-box-2">
        <div class="movie-detail-field">{{movie.name}}</div>
        <div class="date-watched-box">
          <div class="movie-detail-field">{{movie.dateWatched}}</div>
          <button class="edit-date-watched-button"  
            [ngClass]="{'hide': !showEditButton}"
            (click)='editDateWatched()'>
            Edit date watched
          </button>
          <div class="date-picker" [ngClass]="{'hide': showEditButton}">
            <input type="date" value="2021-08-01" id="start" (change)="pickDate($event)"
            min="2020-01-01" max="2021-08-31">
          </div>
        </div>
        <div class="movie-detail-field">{{movie.dateAddedToWatched}}</div>
        <div class="movie-detail-field">{{movie.originalLanguage}}</div>
        <div class="movie-detail-field">{{movie.popularity}}</div>
        <div class="movie-detail-field">{{movie.releaseDate}}</div>
        <div class="movie-detail-field">{{movie.genres}}</div>
        <div class="movie-detail-field">{{movie.overview}}</div>
      </div>
    </div>
    <div class='movie-detail-footer'>
      <button class="back-button"
              (click)='onBack()'>
        Go back to search
      </button>
    </div>
  </div>