.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 10px 10% 0 10%;
}

.title {
    font-size: 100px;
    color: rgb(68, 24, 24);
}

.back-button {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 25px;
    color: rgb(68, 24, 24);
    background-color: #e0cdcd;
    border-radius: 25px;
    width: 18%;
    margin-top: 20px;
}

.content-table {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 30px;
}

.results-table-header {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 45px;
    border: 1px solid rgb(68, 24, 24);;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%), 0 25px 50px 0 rgb(0 0 0 / 5%);
}

.movie-name-header {
    color: rgb(68, 24, 24);
    font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-top: 15px;
}

.movie-date-watched-header {
    color: rgb(68, 24, 24);
    font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
}

.results-table-values {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 45px;
    border: 1px solid rgb(68, 24, 24);;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%), 0 25px 50px 0 rgb(0 0 0 / 5%);
}

.movie-name {
    color: rgb(68, 24, 24);
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: left;
    margin-left: 10px;
    margin-top: 15px;
}

.see-details-button {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 25px;
    color: rgb(68, 24, 24);
    background-color: #e0cdcd;
    border-radius: 25px;
    margin-top: 10px;
    width: 80%;
}

.remove-from-watched-button {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 25px;
    color: rgb(68, 24, 24);
    background-color: #e0cdcd;
    border-radius: 25px;
    margin-top: 10px;
    margin-right: 20px;
    width: 80%;
}

.movie-watched-date {
    margin-top: 15px;
    
    &.hide {
        display: none;
    }
}